Water.json
[
    {
        "id": "ddc608b32e6f438f",
        "type": "tab",
        "label": "플로우 10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c1baa6fbc94ef29",
        "type": "serial in",
        "z": "ddc608b32e6f438f",
        "name": "",
        "serial": "c1103d13aef36fa3",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "2f3dd66f66b0b825",
                "d9bce56406fd5938",
                "4ffd03145464e532",
                "27b1fd0c0b493e54"
            ]
        ]
    },
    {
        "id": "2f3dd66f66b0b825",
        "type": "function",
        "z": "ddc608b32e6f438f",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar ch = parseFloat(output[0]);\nvar msg = {payload:ch};\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "b8c7373d23e55a38"
            ]
        ]
    },
    {
        "id": "d9bce56406fd5938",
        "type": "function",
        "z": "ddc608b32e6f438f",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar VWC = parseFloat(output[1]);\nvar msg = {payload:VWC};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "bac1fd0c4fb5f702"
            ]
        ]
    },
    {
        "id": "bac1fd0c4fb5f702",
        "type": "ui_gauge",
        "z": "ddc608b32e6f438f",
        "name": "",
        "group": "5b62aa626ddf1787",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "VWC",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "4ffd03145464e532",
        "type": "function",
        "z": "ddc608b32e6f438f",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Temp = parseFloat(output[2]);\nvar msg = {payload:Temp};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "5c7e7abc1fc8061c"
            ]
        ]
    },
    {
        "id": "27b1fd0c0b493e54",
        "type": "function",
        "z": "ddc608b32e6f438f",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar EC = parseFloat(output[3]);\nvar msg = {payload:EC};\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "8e2718364e5d91d9"
            ]
        ]
    },
    {
        "id": "5c7e7abc1fc8061c",
        "type": "ui_gauge",
        "z": "ddc608b32e6f438f",
        "name": "",
        "group": "5b62aa626ddf1787",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "8e2718364e5d91d9",
        "type": "ui_gauge",
        "z": "ddc608b32e6f438f",
        "name": "",
        "group": "5b62aa626ddf1787",
        "order": 5,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "EC",
        "label": "uS/m",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "b8c7373d23e55a38",
        "type": "ui_text",
        "z": "ddc608b32e6f438f",
        "group": "5b62aa626ddf1787",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Channel",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "deb26066455b32ac",
        "type": "ui_spacer",
        "z": "ddc608b32e6f438f",
        "name": "spacer",
        "group": "5b62aa626ddf1787",
        "order": 2,
        "width": 18,
        "height": 1
    },
    {
        "id": "eb0e74a987032826",
        "type": "ui_spacer",
        "z": "ddc608b32e6f438f",
        "name": "spacer",
        "group": "5b62aa626ddf1787",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "be83dfd13dadf362",
        "type": "ui_spacer",
        "z": "ddc608b32e6f438f",
        "name": "spacer",
        "group": "5b62aa626ddf1787",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "6b7c5b92d711bee7",
        "type": "ui_spacer",
        "z": "ddc608b32e6f438f",
        "name": "spacer",
        "group": "5b62aa626ddf1787",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "1f71fa5508b07a06",
        "type": "ui_spacer",
        "z": "ddc608b32e6f438f",
        "name": "spacer",
        "group": "5b62aa626ddf1787",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "c2e11e88e58d8afc",
        "type": "ui_spacer",
        "z": "ddc608b32e6f438f",
        "name": "spacer",
        "group": "5b62aa626ddf1787",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "c1103d13aef36fa3",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "5b62aa626ddf1787",
        "type": "ui_group",
        "name": "VWC",
        "tab": "d94ebdc0882b8c99",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d94ebdc0882b8c99",
        "type": "ui_tab",
        "name": "VerticalFarm",
        "icon": "dashboard",
        "order": 12,
        "disabled": false,
        "hidden": false
    }
]
